<main class="min-h-screen grid place-items-center">
  <div class="container mx-auto px-4">
    <div class="mb-8">
      <h1 class="text-5xl font-bold">أهلا بك مجددا</h1>
      <p class="mt-2 font-semibold">
        ليس لديك حساب؟
        <a
          routerLink="/auth/register"
          class="underline text-base hover:opacity-70 transition-opacity"
          >أنشئ واحدا الأن</a
        >
      </p>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="max-w-sm">
      <fieldset class="fieldset">
        <legend class="fieldset-legend text-xl">
          إسم المستخدم أو بريدك الإلكتروني
        </legend>
        <input
          type="email"
          class="input w-full text-lg"
          dir="ltr"
          formControlName="identifier"
        />
        <p class="fieldset-label text-lg">
          بريدك الإلكتروني يجب أن يكون من نوع gmail, outlook او yahoo
        </p>
      </fieldset>

      <fieldset class="fieldset">
        <legend class="fieldset-legend text-xl">كلمة المرور</legend>
        <input
          type="password"
          class="input w-full text-lg"
          dir="ltr"
          formControlName="password"
        />
        <p class="fieldset-label text-lg">يجب أن تحتوي علي 6 أحرف علي الأقل</p>
      </fieldset>
      @if(isLoading()) {
      <button class="btn btn-warning btn-block mt-4 text-lg">
        <span class="loading loading-spinner"></span>
        جاري تسجيل الدخول...
      </button>

      } @else {
      <button
        class="btn btn-primary btn-block mt-4 text-lg"
        [disabled]="loginForm.invalid"
        [class.btn-disabled]="loginForm.invalid"
      >
        سجل الدخول!
      </button>
      }
    </form>
  </div>
</main>
