@let users = usersSig();

<app-navbar />

<main class="min-h-screen pt-16 sm:pt-0 pb-16">
  <div class="container mx-auto py-8 sm:py-0 px-4 sm:px-0 h-full">
    <h1 class="text-4xl pb-8 mb-20 sm:mb-0 text-center">قائمة المتصدرين</h1>
    @if(users.length > 0) {

    <div
      class="flex flex-col sm:flex-row gap-24 mx-auto w-full items-center justify-center mb-8 sm:mb-0"
    >
      <a
        [routerLink]="['/profile', users[1].username]"
        class="second order-2 sm:mt-32 relative"
      >
        <p class="text-2xl absolute -top-20 -translate-x-1/2">المركز الثاني</p>
        <div class="flex items-center justify-center flex-col">
          <img
            [src]="users[1].avatar"
            alt="شخصية الشخص الثاني"
            class="w-48 aspect-square pixel-border"
          />
          <div
            class="mt-10 w-full flex flex-col items-center justify-center gap-2"
          >
            <p class="text-2xl font-semibold">{{ users[1].username }}</p>
            <div class="flex items-center justify-between gap-4">
              <div
                class="flex flex-col items-center justify-center p-4 rounded-lg border border-base-300"
              >
                <p class="text-2xl">{{ users[1].level }}</p>
                <p class="">المستوى</p>
              </div>
              <div
                class="flex flex-col items-center justify-center p-4 rounded-lg border border-base-300"
              >
                <p class="text-2xl">{{ users[1].xp }}</p>
                <p>النقاط</p>
              </div>
            </div>
          </div>
        </div>
      </a>
      <a
        [routerLink]="['/profile', users[0].username]"
        class="first order-1 sm:order-2 relative"
      >
        <img
          src="/assets/images/crowns/star.png"
          alt=""
          class="absolute top-0 -left-12 animate-pulse w-10"
        />
        <img
          src="/assets/images/crowns/1st.png"
          alt=""
          class="absolute -top-40"
        />
        <div class="flex items-center justify-center flex-col">
          <img
            [src]="users[0].avatar"
            alt="شخصية الشخص الأول"
            class="w-48 aspect-square pixel-border"
          />
          <div
            class="mt-10 w-full flex flex-col items-center justify-center gap-2"
          >
            <p class="text-2xl font-semibold">{{ users[0].username }}</p>
            <div class="flex items-center justify-between gap-4">
              <div
                class="flex flex-col items-center justify-center p-4 rounded-lg border border-base-300"
              >
                <p class="text-2xl">{{ users[0].level }}</p>
                <p class="">المستوى</p>
              </div>
              <div
                class="flex flex-col items-center justify-center p-4 rounded-lg border border-base-300"
              >
                <p class="text-2xl">{{ users[0].xp }}</p>
                <p>النقاط</p>
              </div>
            </div>
          </div>
        </div>
        <img
          src="/assets/images/crowns/star.png"
          alt=""
          class="absolute top-0 -right-12 animate-pulse w-10"
        />
      </a>
      <a
        [routerLink]="['/profile', users[2].username]"
        class="third order-3 sm:mt-32 relative"
      >
        <p class="text-2xl absolute -top-20 -translate-x-1/2">المركز الثالث</p>

        <div class="flex items-center justify-center flex-col">
          <img
            [src]="users[2].avatar"
            alt="شخصية الشخص الثالث"
            class="w-48 aspect-square pixel-border"
          />
          <div
            class="mt-10 w-full flex flex-col items-center justify-center gap-2"
          >
            <p class="text-2xl font-semibold">{{ users[2].username }}</p>
            <div class="flex items-center justify-between gap-4">
              <div
                class="flex flex-col items-center justify-center p-4 rounded-lg border border-base-300"
              >
                <p class="text-2xl">{{ users[2].level }}</p>
                <p class="">المستوى</p>
              </div>
              <div
                class="flex flex-col items-center justify-center p-4 rounded-lg border border-base-300"
              >
                <p class="text-2xl">{{ users[2].xp }}</p>
                <p>النقاط</p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div
      class="w-full sm:mt-24 flex flex-col items-center justify-center gap-4"
    >
      @for (user of users.slice(3); let idx = $index;track user.username) {
      <a
        [routerLink]="['/profile', user.username]"
        class="bg-base-300 rounded-lg px-4 py-6 w-2/3 mx-auto flex flex-col sm:flex-row items-center justify-between"
      >
        <div class="flex items-center justify-center gap-4">
          <p class="font-bold text-2xl">#{{ idx + 4 }}</p>
          <h3 class="text-3xl">{{ user.username }}</h3>
        </div>
        <div class="flex items-center justify-between mt-4 sm:mt-0 gap-4">
          <p class="px-2 text-lg rounded-sm border border-white">
            {{ user.xp }} نقاط
          </p>
          <p class="px-2 text-lg rounded-sm border border-white">
            المستوي {{ user.level }}
          </p>
        </div>
      </a>
      }
    </div>
    } @else {
    <div
      class="flex flex-col gap-12 mx-auto w-full items-center justify-center mb-8 sm:mb-0"
    >
      <div class="flex items-center justify-center gap-12">
        <div class="skeleton w-48 h-56 mt-24"></div>
        <div class="skeleton w-48 h-56"></div>
        <div class="skeleton w-48 h-56 mt-24"></div>
      </div>

      <div class="w-full gap-8 flex flex-col">
        <div class="skeleton w-2/3 h-32 mx-auto"></div>
        <div class="skeleton w-2/3 h-32 mx-auto"></div>
        <div class="skeleton w-2/3 h-32 mx-auto"></div>
        <div class="skeleton w-2/3 h-32 mx-auto"></div>
        <div class="skeleton w-2/3 h-32 mx-auto"></div>
      </div>
    </div>
    }
  </div>
</main>
