<header>
  <nav class="container mx-auto flex items-center justify-between py-4">
    <span class="flex">
      <p class="font-extrabold text-3xl">مسارك</p>
      <img
        src="/assets/images/DinoSprites_doux.gif"
        class="w-10 aspect-square"
        alt=""
      />
    </span>
    <ul class="flex items-center gap-8">
      <li><a routerLink="/">الرئيسية</a></li>
      <li><a routerLink="/leaderboard">المنافسين</a></li>
      <li><a routerLink="/contact">تواصل معنا</a></li>
    </ul>
  </nav>
</header>
