<app-navbar />
<main class="min-h-screen pt-16">
  <div class="container mx-auto my-8 px-4 sm:px-0">
    @if(user()) {
    <div class="flex items-center justify-center flex-col">
      <img
        [src]="user()?.avatar"
        [alt]="'شخصية ' + user()?.username"
        class="pixel-border"
      />
      <div class="mt-12 text-center">
        <p class="text-3xl font-semibold">{{ user()?.username }}</p>
        <div class="flex items-center justify-center gap-4">
          <div
            class="flex flex-col items-center justify-center p-4 rounded-lg border border-base-300"
          >
            <p class="text-2xl">{{ user()?.level }}</p>
            <p class="">المستوى الحالي</p>
          </div>
          <div
            class="flex flex-col items-center justify-center p-4 rounded-lg border border-base-300"
          >
            <p class="text-2xl">{{ user()?.xp }}</p>
            <p>النقاط الحالية</p>
          </div>
        </div>
        <div class="flex items-center justify-center gap-2">
          <p class="text-lg">{{ user()?.xp }}</p>
          <progress
            class="progress w-full sm:w-56 mx-2"
            [value]="user()?.xp"
            [max]="user()?.nextLevelXp"
          ></progress>
          <p class="text-lg">{{ user()?.nextLevelXp }}</p>
        </div>
      </div>
    </div>
    } @else {
    <div class="flex flex-col items-center justify-center gap-4">
      <div class="skeleton w-48 h-56"></div>
      <div class="flex items-center justify-center gap-2">
        <div class="skeleton w-24 h-24"></div>
        <div class="skeleton w-24 h-24"></div>
      </div>
      <div class="skeleton w-2/3 h-8"></div>
    </div>
    }
  </div>
</main>
